<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userlist</title>
</head>

<body>
    <div>
        <a href="{% url 'add_user' %}">REGISTER</a>
    </div>
    <ul>
        {% for user in users %}
        <li>{{user.username}} -- {{user.password}} <a href="{% url 'delete_user' user.id %}">Delete</a> <a href="{% url 'update_user' user.id %}">Update</a></li>
        {% endfor %}
    </ul>
</body>

</html>